{% extends 'entertainmentPages/enNavbarTemp.html' %}
{% load static %}

{% block header %}
<title>Sporetify</title>
<link rel="stylesheet" href="{% static 'css/entertainmentPages/enDashboard.css' %}">
<script src="https://kit.fontawesome.com/e073b44707.js" crossorigin="anonymous"></script>
<style>
thead{
    background-color: #000;
}
th {
    font-size: 20px;
    font-weight: 400;
    color: #ffce73;
}
</style>
{% endblock%}

{% block profile_nav %}
<div class="profile-show">
    <img src="{{user.entertainment.profileImage.url}}" width="40" height="40" class="">
</div>
<span class="enUsername">{{user.username}}</span>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3 content-container">
            <div class="content-box" onclick="window.location.href='/song/all/';" style="cursor: pointer;">
                <div class="box-header">
                    <i class="fab fa-spotify"></i>
                    <span class="d-inline-block">Number of Song</span>
                </div>
                <div class="box-content">
                    <span class="d-inline-block">{{song_count}}</span>
                    <span class="">tracks</span>
                </div>
            </div>

            <div class="content-box" onclick="window.location.href='/artist/all/';" style="cursor: pointer;">
                <div class="box-header">
                    <i class="fas fa-microphone-alt"></i>
                    <span class="d-inline-block">Number of Artist</span>
                </div>
                <div class="box-content">
                    <span class="d-inline-block">{{artist_count}}</span>
                    <span class="">artists</span>
                </div>
            </div>
            
            <div class="content-box">
                <div class="box-header">
                    <i class="far fa-play-circle"></i>
                    <span class="d-inline-block">Song played</span>
                </div>
                <div class="box-content">
                    <span class="d-inline-block">2,984</span>
                    <span class="">times</span>
                </div>
            </div>
        </div>

        <div class="col-9 content2-container">
            <div class="Song">
                <div class="header">
                    <h1>Song</h1>
                    <div class="crud-link">
                        <span style="font-size: 20px; margin-right: 10px;">Add song</span>
                        <a href="{% url 'addSong' %}" class="btn btn-success"><i class="fas fa-compact-disc me-2"></i><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="row Song-content">
                    <div class="col-4 text-center align-self-center">
                        <div class="image-container">
                            {% if songPresent %}
                                <img src="{{songPresent.songImg.url}}" alt="">
                            {% else %}
                                <img src="{% static 'images/img-placeholder.png' %}" alt="">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-8 align-self-center">
                        <div class="table-responsive">
                            <table class="table custom-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Album</th>
                                        <th>Genre</th>
                                    </tr> 
                                </thead>
                                <tbody>
                                    {% for song in latest5Song %}
                                        {% if song %}
                                        <tr>
                                            <td>{{song.songName}}</td>
                                            <td>{{song.album}}</td>
                                            <td>{{song.genre1}}</td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td>xxx</td>
                                            <td>xxx</td>
                                            <td>xxx</td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}  
                                </tbody>
                            </table>
                        </div>
                        <a href="{% url 'showAllSong' %}" style="font-size: 20px;">See more ></a>
                    </div>
                </div>
            </div>
            <div class="Artist">
                <div class="header">
                    <h1>Artist</h1>
                    <div class="crud-link">
                        <span style="font-size: 20px; margin-right: 10px;">Add artist</span>
                        <a href="{% url 'addArtist' %}" class="btn btn-success"><i class="fas fa-user-plus"></i></a>
                        <!-- <a href="{% url 'showAllArtist' %}">Edit</a> -->
                    </div>
                </div>
                <div class="row Artist-content">
                    <div class="col-4 text-center align-self-center">
                        <div class="image-container">
                            {% if artistPresent %}
                                <img src="{{artistPresent.songImg.url}}" alt="">
                            {% else %}
                                <img src="{% static 'images/profile-placeholder.png' %}" alt="">
                            {% endif %}
                        </div>  
                    </div>
                    <div class="col-8 align-self-center">
                        <div class="table-responsive">
                            <table class="table custom-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Debut</th>
                                        <th>ID</th>
                                    </tr> 
                                </thead>
                                <tbody>
                                    {% for artist in latest5Artist %}
                                        {% if artist %}
                                        <tr>
                                            <td>{{artist.artistName}}</td>
                                            <td>{{artist.dob}}</td>
                                            <td>{{artist.artistID}}</td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td>xxx</td>
                                            <td>xxx</td>
                                            <td>xxx</td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}   
                                </tbody>
                            </table>
                        </div>
                        <a href="{% url 'showAllArtist' %}" style="font-size: 20px;">See more ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}