{% extends 'entertainmentPages/enNavbarTemp.html' %}
{% load static %}

{% block header %}
<title>Sporetify</title>
<link rel="stylesheet" href="{% static 'css/entertainmentPages/enDashboard.css' %}">
<script src="https://kit.fontawesome.com/e073b44707.js" crossorigin="anonymous"></script>
{% endblock%}

{% block profile_nav %}
<div class="profile-show">
    <img src="{{user.entertainment.profileImage.url}}" width="40" height="40" class="">
</div>
<span class="enUsername">{{user.username}}</span>
{% endblock %}

{% block navbar %}
<!-- set class="disabled in current page" -->
<a class="dropdown-item" href="/userprofile">Account</a>
<a class="dropdown-item" href="/userprofile/edit">Edit profile</a>
<a class="dropdown-item" href="/">Log Out</a>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3 content-container">
            <div class="content-box">
                <div class="box-header">
                    <i class="fab fa-spotify"></i>
                    <span class="d-inline-block">Number of Song</span>
                </div>
                <div class="box-content">
                    <span class="d-inline-block">1,563</span>
                    <span class="">tracks</span>
                </div>
            </div>

            <div class="content-box" onclick="window.location.href='#';">
                <div class="box-header">
                    <i class="fas fa-microphone-alt"></i>
                    <span class="d-inline-block">Number of Artist</span>
                </div>
                <div class="box-content">
                    <span class="d-inline-block">12</span>
                    <span class="">artists</span>
                </div>
            </div>

            <div class="content-box">
                <div class="box-header">
                    <i class="far fa-play-circle"></i>
                    <span class="d-inline-block">Song played</span>
                </div>
                <div class="box-content">
                    <span class="d-inline-block">2,984</span>
                    <span class="">times</span>
                </div>
            </div>
        </div>

        <div class="col-9 content2-container">
            <div class="Song">
                <div class="header">
                    <h1>Song</h1>
                    <div class="crud-link">
                        <a href="{% url 'enaddSong' %}">Create</a>
                        <a href="">Edit</a>
                    </div>
                </div>
                <div class="row Song-content">
                    <div class="col-4 text-center align-self-center">
                        <div class="image-container">
                            <img src="{% static 'images/img-placeholder.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-8 align-self-center">
                        <div class="table-responsive">
                            <table class="table custom-table table-hover">
                                <thead>
                                    <tr class="custom-table">
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Album</th>
                                        <th scope="col">Genre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Artist">
                <div class="header">
                    <h1>Artist</h1>
                    <div class="crud-link">
                        <a href="{% url 'addArtist' %}">Create</a>
                        <a href="">Edit</a>
                    </div>
                </div>
                <div class="row Artist-content">
                    <div class="col-4 text-center align-self-center">
                        <div class="image-container">
                            <img src="{% static 'images/profile-placeholder.png' %}" alt="">
                        </div>  
                    </div>
                    <div class="col-8 align-self-center">
                        <div class="table-responsive">
                            <table class="table custom-table table-hover">
                                <thead>
                                    <tr class="custom-table">
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Album</th>
                                        <th scope="col">Genre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}