{% extends 'adminPages/adNavbarTemp.html' %}
{% load static %}

{% block header %}
<title>Sporetify</title>
<script src="https://kit.fontawesome.com/e073b44707.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/entertainmentPages/enDashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/ad_addSong.css' %}">
	<script src="{% static 'js/addSong.js' %}"></script>
{% endblock%}

{% block profile_nav %}
<!-- <div class="profile-show">
    <img src="{{user.admin.profileImage.url}}" width="40" height="40" class="">
</div> -->
<span class="enUsername">{{user.username}}</span>
{% endblock %}

{% block content %}
	<div class="container">
		<a class="btn btn-secondary  mt-5 fs-5" onclick=" window.history.back();">Back</a>
		<!-- Image Preview -->
		<div class="d-flex justify-content-between align-items-center mb-5">
			<div class="">
				<span class="d-inline-block fs-1">Add song to </span>
				<!-- <span class="d-inline-block fs-1 text-username">{{user.username}}</span> -->
				<span class="d-inline-block fs-1 text-username">entertainment</span>   
			</div>
			<div class="song-cover-container"  onclick="uploadSongCover()" >
				<img src="{% static 'images/img-placeholder.png' %}" alt="" class="" id="songImgDisplay">
				<div class="text-overlay">
					<div class="text">Upload Picture</div>
				</div>
			</div>
		</div>


		<!-- Start Form -->
		<!-- <form action="/addsongsubmit/" enctype="multipart/form-data" method="POST"> -->
		<form action="{% url 'addSong' %}" enctype="multipart/form-data" method="POST" class="mb-5">
			{% csrf_token %}

			<!-- Upload song Image -->
			<div class="mb-3 d-none">
				<label for="songImg" class="form-label">Upload picture</label>
				<input class="form-control" onchange="displayImg(this)" type="file" id="songImg" name="songImg">
			</div>

			<!-- Upload Song name & Album name -->
			<div class="row">
				<div class="col-6">
					<div class="input-group mb-5">
						<span class="input-group-text">Song name</span>
						<input type="text" placeholder="..." class="form-control" name="songName" value="{{songName}}" required>
					</div>
				</div>
				<div class="col-6">
					<div class="input-group mb-5">
						<span class="input-group-text">Album name</span>
						<input type="text" placeholder="..." class="form-control" name="album" value="{{album}}">
					</div>
				</div>
			</div>

			<!-- Upload Artist ID -->
			<div class="" style="width: 50%;">
				<div class="input-group mb-5">
					<!-- <div class="input-group-prepend">
                        <span class="input-group-text">ชื่อศิลปิน</span>
                    </div>
                    <input type="text" placeholder="ป้อนชื่อศิลปิน" class="form-control" name="Artname"> -->
					<span class="input-group-text">Artist ID</span>
					<span class="input-group-text">#</span>
					<input type="text" placeholder="AT000000" class="form-control" name="artistID" value="{{artistID}}" required>
				</div>
			</div>

			<hr class="mb-5">

			<!-- Upload Genre -->
			<div class="row">
				<div class="col-4">
					<!-- First genre -->
					<div class="input-group mb-5">
						<label class="input-group-text" for="inputGroupSelect01">Genre 1</label>
						<select class="form-select" id="inputGroupSelect01" name="genre1">
							<option value="none" selected">Choose...</option>
							<option value="EDM">EDM (Electronic dance music)</option>
							<option value="Rap">Rap</option>
							<option value="Rock">Rock</option>
							<option value="Pop">Pop</option>
							<option value="R&B">R&B (Rhythm & Blues)</option>
							<option value="Latin">Latin</option>
						</select>
					</div>
				</div>
				<div class="col-4">
					<!-- Second genre -->
					<div class="input-group mb-5">
						<label class="input-group-text" for="inputGroupSelect01">Genre 2</label>
						<select class="form-select" id="inputGroupSelect01" name="genre2">
							<option value="none" selected">Choose...</option>
							<option value="EDM">EDM (Electronic dance music)</option>
							<option value="Rap">Rap</option>
							<option value="Rock">Rock</option>
							<option value="Pop">Pop</option>
							<option value="R&B">R&B (Rhythm & Blues)</option>
							<option value="Latin">Latin</option>
						</select>
					</div>
				</div>
				<div class="col-4">
					<!-- Third genre -->
					<div class="input-group mb-5">
						<label class="input-group-text" for="inputGroupSelect01">Genre 3</label>
						<select class="form-select" id="inputGroupSelect01" name="genre3">
							<option value="none" selected">Choose...</option>
							<option value="EDM">EDM (Electronic dance music)</option>
							<option value="Rap">Rap</option>
							<option value="Rock">Rock</option>
							<option value="Pop">Pop</option>
							<option value="R&B">R&B (Rhythm & Blues)</option>
							<option value="Latin">Latin</option>
						</select>
					</div>
				</div>
			</div>

			<!-- Upload Song lang. -->
			<div class="" style="width: 50%;">
				<div class="input-group mb-5">
					<label class="input-group-text" for="inputGroupSelect01">Song Language</label>
					<select class="form-select" id="inputGroupSelect01" name="language">
						<option value="none" selected">Choose...</option>
						<option value="AF">Afrikaans</option>
						<option value="SQ">Albanian</option>
						<option value="AR">Arabic</option>
						<option value="HY">Armenian</option>
						<option value="EU">Basque</option>
						<option value="BN">Bengali</option>
						<option value="BG">Bulgarian</option>
						<option value="CA">Catalan</option>
						<option value="KM">Cambodian</option>
						<option value="ZH">Chinese (Mandarin)</option>
						<option value="HR">Croatian</option>
						<option value="CS">Czech</option>
						<option value="DA">Danish</option>
						<option value="NL">Dutch</option>
						<option value="EN">English</option>
						<option value="ET">Estonian</option>
						<option value="FJ">Fiji</option>
						<option value="FI">Finnish</option>
						<option value="FR">French</option>
						<option value="KA">Georgian</option>
						<option value="DE">German</option>
						<option value="EL">Greek</option>
						<option value="GU">Gujarati</option>
						<option value="HE">Hebrew</option>
						<option value="HI">Hindi</option>
						<option value="HU">Hungarian</option>
						<option value="IS">Icelandic</option>
						<option value="ID">Indonesian</option>
						<option value="GA">Irish</option>
						<option value="IT">Italian</option>
						<option value="JA">Japanese</option>
						<option value="JW">Javanese</option>
						<option value="KO">Korean</option>
						<option value="LA">Latin</option>
						<option value="LV">Latvian</option>
						<option value="LT">Lithuanian</option>
						<option value="MK">Macedonian</option>
						<option value="MS">Malay</option>
						<option value="ML">Malayalam</option>
						<option value="MT">Maltese</option>
						<option value="MI">Maori</option>
						<option value="MR">Marathi</option>
						<option value="MN">Mongolian</option>
						<option value="NE">Nepali</option>
						<option value="NO">Norwegian</option>
						<option value="FA">Persian</option>
						<option value="PL">Polish</option>
						<option value="PT">Portuguese</option>
						<option value="PA">Punjabi</option>
						<option value="QU">Quechua</option>
						<option value="RO">Romanian</option>
						<option value="RU">Russian</option>
						<option value="SM">Samoan</option>
						<option value="SR">Serbian</option>
						<option value="SK">Slovak</option>
						<option value="SL">Slovenian</option>
						<option value="ES">Spanish</option>
						<option value="SW">Swahili</option>
						<option value="SV">Swedish </option>
						<option value="TA">Tamil</option>
						<option value="TT">Tatar</option>
						<option value="TE">Telugu</option>
						<option value="TH">Thai</option>
						<option value="BO">Tibetan</option>
						<option value="TO">Tonga</option>
						<option value="TR">Turkish</option>
						<option value="UK">Ukrainian</option>
						<option value="UR">Urdu</option>
						<option value="UZ">Uzbek</option>
						<option value="VI">Vietnamese</option>
						<option value="CY">Welsh</option>
						<option value="XH">Xhosa</option>
					</select>
				</div>
			</div>

			<hr class="mb-5">

			<!-- Upload Song quality -->
			<div class="row mb-5">
				<!-- Normal quality -->
				<div class="col-6">
					<div class="input-group mb-3">
						<input type="file" class="form-control" id="inputGroupFile01" name="normalURL" required>
						<label class="input-group-text" for="inputGroupFile01">Normal-quality file</label>
					</div>
				</div>
				<!-- Good qulity -->
				<div class="col-6">
					<div class="input-group mb-3">
						<input type="file" class="form-control" id="inputGroupFile01" name="goodURL" required>
						<label class="input-group-text" for="inputGroupFile01">High-quality file</label>
					</div>
				</div>
			</div>

			<!-- Upload Song description & lyrics -->
			<div class="row mb-5">
				<!-- description -->
				<div class="col-6">
					<label for="exampleFormControlTextarea1" class="form-label text-label">Song description</label>
					<textarea class="form-control" id="description" rows="4" name="description">{{description}}</textarea>
				</div>
				<!-- lyrics -->
				<div class="col-6">
					<label for="exampleFormControlTextarea1" class="form-label text-label">Lyric</label>
					<textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="lyrics"">{{lyrics}}</textarea>
				</div>
			</div>

			<input type="submit" value="Upload" class="btn btn-primary mt-5 fs-5">
		</form>

		<div>
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-danger" role="alert">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endblock %}