{% extends 'adminPages/adNavbarTemp.html' %}
{% load static %}

{% block header %}
<title>Sporetify</title>
<link rel="stylesheet" href="{% static 'css/entertainmentPages/enDashboard.css' %}">
<script src="https://kit.fontawesome.com/e073b44707.js" crossorigin="anonymous"></script>
{% endblock%}

{% block profile_nav %}
<div class="profile-show">
    <img src="{{user.admin.profileImage.url}}" width="40" height="40" class="">
</div>
<span class="enUsername">{{user.username}}</span>
{% endblock %}

{% block content %}
<div class="container">
    <a class="btn btn-secondary mt-5 fs-5" onclick=" window.history.back();">Back</a>
    <table class="table custom-table mt-5">
        <thead>
            <tr>
                <th>Name</th>
                <th>Album</th>
                <th>Genre</th>
                <th>language</th>
                <th>Artist</th>
                <th>View</th>
                <th>Update</th>
                <th>Remove</th>
            </tr> 
        </thead>
        <tbody>
            {% for song in songs %}
                <tr>
                    <td>{{song.songName}}</td>
                    <td>{{song.album}}</td>
                    <td>{{song.genre1}}</td>
                    <td>{{song.language}}</td>
                    <td>{{song.artistID.artistName}}</td>
                    <td><a href="{% url 'singleSong' song.songID %}" class="btn btn-warning">View</a></td>
                    <td><a href="{% url 'updateSong' song.songID %}" class="btn btn-info">Update</a></td>
                    <td><a href="{% url 'deleteSong' song.songID %}" class="btn btn-danger">Delete</a></td>
                </tr>
            {% endfor %}   
        </tbody>
    </table>
</div>
{% endblock %}