{% extends 'adminPages/adNavbarTemp.html' %}
{% load static %}

{% block header %}
<title>Sporetify</title>
<script src="https://kit.fontawesome.com/e073b44707.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/adminPages/adDashboard1.css' %}">
<link rel="stylesheet" href="{% static 'css/ad_addSong.css' %}">
<link rel="stylesheet" href="{% static 'css/songPages/adSingleSong.css' %}">
<script src="{% static 'js/updateSong.js' %}"></script>
{% endblock %}

{% block profile_nav %}
<!-- <div class="profile-show">
    <img src="{{user.admin.profileImage.url}}" width="40" height="40" class="">
</div> -->
<span class="enUsername">{{user.username}}</span>
{% endblock %}

{% block content %}
<div class="container">
    <a class="btn btn-secondary  mt-5 fs-5" onclick=" window.history.back();">Back</a>
    <div class="mt-5">
        <div class="d-flex align-items-end justify-content-between">
            <div>
                <span class="d-inline-block fs-1 text-username">"{{song.songName}}"</span>
                <span class="d-inline-block fs-1"> details</span>   
            </div>
            <div>
                <a href="{% url 'updateSong' song.songID %}" class="btn btn-info d-inline-block">Update</a>
                <a href="{% url 'deleteSong' song.songID %}" class="btn btn-danger d-inline-block">Delete</a>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-10 offset-1">
            <div class="row">
                <div class="col-4 text-center">
                    <div class="image-placeholder">
                        <img src="{{song.songImg.url}}" alt="">
                    </div>
                    <span class="d-block below-pic mb-3">{{song.songName}}</span>
                    <span class="d-block below-pic">#{{song.songID}}</span>
                    <div class="content-box mt-5">
                        <div class="box-header">
                            <i class="far fa-play-circle"></i>
                            <span class="d-inline-block">Song played</span>
                        </div>
                        <div class="box-content">
                            <span class="d-inline-block">0</span>
                            <span class="">times</span>
                        </div>
                    </div>
                </div>
                <div class="col-8 px-5">
                    <table class="table profile">
                        <tbody class="custom-table">
                            <tr>
                                <td class="col-5">Song ID</td>
                                <td class="text-secondary">#{{ song.songID }}</td>
                            </tr>
                            <tr>
                                <td class="col-5">Song name</td>
                                <td class="text-secondary">{{ song.songName}}</td>
                            </tr>
                            <tr>
                                <td class="col-5">Album name</td>
                                <td class="text-secondary">{{ song.album }}</td>
                            </tr>
                            <tr>
                                <td class="col-5">Sung by</td>
                                <td class="text-secondary"><a href="{% url 'singleArtist' song.artistID.artistID %}">{{ song.artistID.artistName}} | {{song.artistID.artistID}}</a></td>
                            </tr>
                            <tr>
                                <td class="col-5">Normal Quality file</td>
                                <td class="text-secondary"><a href="{{ song.normalURL.url }}">Normal Quality file</a></td>
                            </tr>
                            <tr>
                                <td class="col-5">High Quality file</td>
                                <td class="text-secondary"><a href="{{ song.goodURL.url }}">High Quality file</a></td>
                            </tr>
                            <tr>
                                <td class="col-5">Main genre</td>
                                <td class="text-secondary">{{ song.genre1 }}</td>
                            </tr>
                            <tr>
                                <td class="col-5">Subgenre 1</td>
                                <td class="text-secondary">{{ song.genre2 }}</td>
                            </tr>
                            <tr>
                                <td class="col-5">Subgenre 2</td>
                                <td class="text-secondary">{{ song.genre3 }}</td>
                            </tr>
                            <tr>
                                <td class="col-5">Language</td>
                                <td class="text-secondary">{{ song.language }}</td>
                            </tr>
                            <tr>
                                <td class="col-5">Description</td>
                                <td class="text-secondary">{{ song.description }}</td>
                            </tr>
                            <tr>
                                <td class="col-5">lyrics</td>
                                <td class="text-secondary">{{ song.lyrics }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}