{% extends 'entertainmentPages/enNavbarTemp.html' %}
{% load static %}

{% block header %}
<title>Sporetify</title>
<link rel="stylesheet" href="{% static 'css/entertainmentPages/enDashboard.css' %}">
<script src="https://kit.fontawesome.com/e073b44707.js" crossorigin="anonymous"></script>
<style>
thead{
    background-color: #000;
}
th {
    font-size: 20px;
    font-weight: 400;
    color: #ffce73;
}
</style>
{% endblock%}

{% block profile_nav %}
<div class="profile-show">
    <img src="{{user.entertainment.profileImage.url}}" width="40" height="40" class="">
</div>
<span class="enUsername">{{user.username}}</span>
{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h1>Account overview</h1>
    <hr style="width: 83.33%; margin-left: 8.33%;">
</div>

<!-- pic and ID -->
<div class="row">
    <div class="col-10 offset-1 d-flex">
        <div class="col-6 align-self-center">
            <div class="col-10 offset-1">
                <!-- Image show -->
                <div class="d-flex justify-content-center">
                    <div class="profile-container">
                        <!-- <img src="{{user.entertainment.profileImage.url}}" alt="" class=""> -->
                    </div>
                </div>
                <!-- username and ID -->
                <div class="d-flex justify-content-center text-center">
                    <div class="align-self-end">
                        <h2 class="username">{{ user.username }}</h2>
                        <h5 class="userID">#{{ customer.customerID }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="col-xl-11 col-sm-12">
                <div class="text-start">
                    <span class="d-flex justify-content-between topic">
                        <h3>Profile</h3>
                        <a href="edit"><i class="fa fa-edit"></i></a>
                    </span>

                    <table class="table profile">
                        <tbody>
                            <tr>
                                <td class="col-5 key">Username</td>
                                <td class="text-secondary">{{ user.username }}</td>
                            </tr>
                            <tr>
                                <td class="col-5 key">User ID</td>
                                <td class="text-secondary">#{{ customer.customerID}}</td>
                            </tr>
                            <tr>
                                <td class="col-5 key">Email</td>
                                <td class="text-secondary">{{ user.email }}</td>
                            </tr>
                            <tr>
                                <td class="col-5 key">Firstname</td>
                                <td class="text-secondary">{{ customer.firstName }}</td>
                            </tr>
                            <tr>
                                <td class="col-5 key">Lastname</td>
                                <td class="text-secondary">{{ customer.lastName }}</td>
                            </tr>
                            <tr>
                                <td class="col-5 key">Gender</td>
                                <td class="text-secondary">{{ gender }}</td>
                            </tr>
                            <tr>
                                <td class="col-5 key">Age</td>
                                <td class="text-secondary">{{ age }}</td>
                            </tr>
                            <tr>
                                <td class="col-5 key">Date of Birth</td>
                                <td class="text-secondary">{{ customer.dob }}</td>
                            </tr>
                            <tr>
                                <td class="col-5 key">Telephone</td>
                                <td class="text-secondary">{{ phone }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}