{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- call bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <!-- call css -->
    <link rel="stylesheet" href="{% static 'css/adminPages/adNavbarTemp.css' %}">
    {% block header %}

    {% endblock %}
</head>

<body>
    <!-- navbar start -->
    <nav class="navbar navbar-expand-md navbar-dark nav-bg">
        <div class="container" style="height: 100%;">
            <a class="navbar-brand" href="{% url 'adminDashboard' %}" style="height: 64px; padding: 10px 0 10px 25px;">
                <img src="{% static 'images/logo_white.png' %}" alt="" height="100%">
            </a>
            <!-- button small display -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span> 
            </button>
            <!-- end button -->
            <div class="collapse navbar-collapse justify-content-end d-flex" id="navbarSupportedContent">
                <ul class="navbar-nav text-end fs-5 ms-4">
                    <li class="nav-item dropdown drop">
                        <div class="d-flex">
                            <a class="nav-link dropdown-toggle menu d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% block profile_nav %}
                                {% endblock %}
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark"
                                aria-labelledby="navbarDropdownMenuLink">
                                <!-- <a class="dropdown-item" href="#">Account</a>
                                <a class="dropdown-item" href="#">Edit profile</a> -->
                                <a class="dropdown-item" href="{% url 'landingPage' %}">Log Out</a>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- navbar end -->
    {% block content %}

    {% endblock content %}
</body>

</html>