body {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(41,61,59,1) 75%, rgba(44,70,66) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* navbar */
.nav-bg {
    background-color: #000;
    border-bottom: 5px solid #1FD662;
}

.songdetail
{
    width: 300px;
    margin: 0 auto;
}

.songimage img{
	height: 300px;
}

.songname{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 0px;
}

.artistname{
    color: rgba(221, 219, 219, 0.438);
    font-size: 10 px;
    margin-top: 0px;
    margin-bottom: 0px;
}

input[type="range"] {
	-webkit-appearance: none;
	width: 50%;
	outline: none;
	height: 4px;
}
input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 15px;
	width: 15px;
	background: #1FD662;
	border-radius: 50%;
	cursor: pointer;
}
.duration input[type=range]{
	width: 300px;
}
.duration p{
	color: #fff;
	font-size: 15px;
	margin-left: 20px;
}



.middle{
    width: 300px;
    margin: 0 auto;  
}

.middle button{
    margin-left: 10px;
    margin-top: 15px;
    border: none;
	height: 50px;
	width: 50px;
	border-radius: 50%;	
    display: inline;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	outline: none;
	transition: 0.5s;
	background: rgba(189, 189, 189, 0.192);
}

button:hover{
	background: #1FD662;
}

i{
    color: white;
}

.playlist{
    color: white;
    font-size: 17px;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 300px;
}