.colorbtn2{
    background-color : #1ED760;
    border: none;
}
.colorbtn2:hover{
    background-color: #3EC26D;
}
.containersignupen{
    width: 450px;
}
.btnenclass{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.btnenclass button{
    width: 100%;
    padding: 10px 0;
}