.colorbtn1{
    background-color : #1ED760;
    border: none;
}
.colorbtn1:hover{
    background-color: #3EC26D;
}
.form-check-input:checked{
    background-color : #1ED760;
    border: none;
}
.facebookbutton{
    background-color : #4267B2;
    border: none;
}
.googlebutton{
    background-color : #DB4437;
    border: none;
}