.colorbtn1{
    background-color : #1ED760;
    border: none;
}
.colorbtn1:hover{
    background-color: #3EC26D;
}
.containersignup{
    width: 450px;
}
.btnclass{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.btnclass button{
    width: 100%;
    padding: 10px 0;
}
