    .nav-bg {
        background-color: #000;
        border-bottom: 5px solid #1FD662;
    }
    
    .song {
        width: 1400px;
        margin-top: 50px;
    }
    
    .song img {
        width: 200px;
        border-radius: 8px;
        margin-top: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .song p {
        font-weight: 500;
        margin-left: 8px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    
    .song p1 {
        font-weight: 400;
        margin-left: 8px;
        font-size: 15px;
        color: rgba(104, 103, 103, 0.671);
    }
    
    .song h {
        font-weight: 400;
        margin-bottom: 10px;
        font-size: 30px;
    }
    
    .song button {
        margin-top: 15px;
        border: none;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: inline;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        outline: none;
        transition: 0.5s;
        background: rgba(145, 144, 144, 0.349);
        margin-right: 10px;
        margin-bottom: 10px;
    }
    
    button:hover {
        background: #1FD662;
    }
    
    i {
        color: white;
    }
    
    a {
        text-decoration: none;
    }
    
    [type=radio] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
    /* IMAGE STYLES */
    
    [type=radio]+div {
        cursor: pointer;
        color: black;
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 10px;
        font-size: 30px;
    }
    /* CHECKED STYLES */
    
    [type=radio]:checked+div {
        /* background: linear-gradient(180deg, rgb(35,214,98) 0%, rgb(35,214,98) 60%, rgb(255, 255, 255) 90%, rgb(245, 245, 245) 100%); */
        color: #1ED760;
    }
    
    [type=radio]:hover+div {
        /* background: linear-gradient(180deg, rgb(35,214,98) 0%, rgb(35,214,98) 60%, rgb(255, 255, 255) 90%, rgb(245, 245, 245) 100%); */
        color: #1ED760;
    }