.card-img-top:not(.inUse){
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.card:not(.inUse):hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.inUse{
    width: 100%;
    /* height: 10rem; */
    object-fit: cover;
}

/* HIDE RADIO*/
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + i {
    cursor: pointer;
    opacity: 0.2;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + i {
    /* background: linear-gradient(180deg, rgb(35,214,98) 0%, rgb(35,214,98) 60%, rgb(255, 255, 255) 90%, rgb(245, 245, 245) 100%); */
    cursor: default;
    opacity: 1;
  }