{% extends 'layout_sideBar.html' %}

{% block header %}
    <title>Sporetify</title>
{% endblock%}

{% block navbar %}
    <a class="dropdown-item" href="#">Profile</a>
    <a class="dropdown-item" href="#">Credit card</a>
    <a class="dropdown-item" href="#">Transaction</a>
{% endblock %}

{% block sidebar %}
    <a href="#"><span>ภาพรวมโปรไฟล์</span></a>
    <a href="#"><span>บัตรเครดิต</span></a>
    <a href="#"><span>ประวัติการชำระเงิน</span></a>
{% endblock %}

{% block content %}
    <p>ใส่ข้อความที่นี่นะครับ</p>
{% endblock %}