{% extends 'entertainmentPages/enNavbarTemp.html' %}
{% load static %}

{% block header %}
<title>Sporetify</title>
<link rel="stylesheet" href="{% static 'css/entertainmentPages/enDashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/addArtist.css' %}">
<script src="{% static 'js/addArtist.js' %}"></script>
<script src="https://kit.fontawesome.com/e073b44707.js" crossorigin="anonymous"></script>
{% endblock%}

{% block profile_nav %}
<div class="profile-show">
    <img src="{{user.entertainment.profileImage.url}}" width="40" height="40" class="">
</div>
<span class="enUsername">{{user.username}}</span>
{% endblock %}

{% block navbar %}
<!-- set class="disabled in current page" -->
<a class="dropdown-item" href="#">Account</a>
<a class="dropdown-item" href="#">Edit profile</a>
<a class="dropdown-item" href="#">Log Out</a>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <form action="{% url 'enDashboard' %}">
        <button class="btn btn-secondary fs-5 mb-5">Back</button>
    </form>
    <div class="container pt-3">
        <!-- Header -->
        <div class="mb-5">
            <span class="d-inline-block fs-1">Add artist to </span>
            <span class="d-inline-block fs-1 text-username">{{user.username}}</span>
            <span class="d-inline-block fs-1">entertainment</span>   
        </div>

       
        <!-- Start Form -->
        <form action="{% url 'addArtist' %}" enctype="multipart/form-data" method="POST" class="mb-5">
            {% csrf_token %}

            <!-- Upload Artist Image -->
            <div class="mb-3 d-none">
                <label for="songImg" class="form-label">Upload picture</label>
                <input class="form-control" onchange="displayImg(this)" type="file" id="songImg" name="profileImage">
            </div>

            <!-- Upload Song name & Album name -->
            <div class="row align-items-center justify-content-center">
                <div class="col-6 align-items-center">
                    <div class="input-group mb-5">
                        <span class="input-group-text">Artist Name</span>
                        <input type="text" placeholder="single artist or band name" class="form-control" name="artistName" required>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Debut date</span>
                        <!-- year - month - date -->
                        <input type="date" class="form-control" id="floatingDOB" name="dob" required>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <div class="song-cover-container" onclick="uploadSongCover()">
                        <img src="{% static 'images/profile-placeholder.png' %}" alt="" class="" id="songImgDisplay">
                        <div class="text-overlay">
                            <div class="text">Upload Picture</div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" value="Upload" class="btn btn-primary mt-5 fs-5">
        </form>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}