{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/addSongs.css' %}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>
	<script src="{% static 'js/addSong.js' %}"></script>

	<title>Sporetify</title>
</head>

<body>
	<div class="container pt-3">
		<!-- Image Preview -->
		<div class="container-fluid d-flex justify-content-between align-items-center mb-5">
			<span class="d-inline-block fs-1">เพิ่มเพลง</span>
			<div class="song-cover-container"  onclick="uploadSongCover()" >
				<img src="{% static 'images/img-placeholder.png' %}" alt="" class="" id="songImgDisplay">
				<div class="text-overlay">
					<div class="text">อัพโหลดรูปภาพ</div>
				</div>
			</div>
		</div>


		<!-- Start Form -->
		<form action="/addsongsubmit/" method="POST">
			{% csrf_token %}

			<!-- Upload song Image -->
			<div class="mb-3 d-none">
				<label for="songImg" class="form-label">Upload picture</label>
				<input class="form-control" onchange="displayImg(this)" type="file" id="songImg" name="songImg">
			</div>

			<!-- Upload Song name & Album name -->
			<div class="row">
				<div class="col-6">
					<div class="input-group mb-5">
						<span class="input-group-text">ชื่อเพลง</span>
						<input type="text" placeholder="ป้อนชื่อเพลง" class="form-control" name="songName">
					</div>
				</div>
				<div class="col-6">
					<div class="input-group mb-5">
						<span class="input-group-text">ชื่ออัลบั้ม</span>
						<input type="text" placeholder="ป้อนชื่ออัลบั้ม" class="form-control" name="album">
					</div>
				</div>
			</div>

			<!-- Upload Artist ID -->
			<div class="" style="width: 50%;">
				<div class="input-group mb-5">
					<!-- <div class="input-group-prepend">
                        <span class="input-group-text">ชื่อศิลปิน</span>
                    </div>
                    <input type="text" placeholder="ป้อนชื่อศิลปิน" class="form-control" name="Artname"> -->
					<span class="input-group-text">รหัสศิลปิน</span>
					<span class="input-group-text">#</span>
					<input type="text" placeholder="ป้อนรหัสศิลปิน" class="form-control" name="artistID">
				</div>
			</div>

			<hr class="mb-5">

			<!-- Upload Genre -->
			<div class="row">
				<div class="col-4">
					<!-- First genre -->
					<div class="input-group mb-5">
						<label class="input-group-text" for="inputGroupSelect01">หมวดหมู่ 1</label>
						<select class="form-select" id="inputGroupSelect01" name="genre1">
							<option value="none" selected">เลือก...</option>
							<option value="EDM">อีดีเอ็ม (EDM)</option>
							<option value="Rap">แร๊ป (Rap)</option>
							<option value="Rock">ร็อก (Rock)</option>
							<option value="Pop">ป๊อป (Pop)</option>
							<option value="R&B">ริทึมแอนด์บลูส์ (R&B)</option>
							<option value="Latin">ลาติน (Latin)</option>
						</select>
					</div>
				</div>
				<div class="col-4">
					<!-- Second genre -->
					<div class="input-group mb-5">
						<label class="input-group-text" for="inputGroupSelect01">หมวดหมู่ 2</label>
						<select class="form-select" id="inputGroupSelect01" name="genre2">
							<option value="none" selected">เลือก...</option>
							<option value="EDM">อีดีเอ็ม (EDM)</option>
							<option value="Rap">แร๊ป (Rap)</option>
							<option value="Rock">ร็อก (Rock)</option>
							<option value="Pop">ป๊อป (Pop)</option>
							<option value="R&B">ริทึมแอนด์บลูส์ (R&B)</option>
							<option value="Latin">ลาติน (Latin)</option>
						</select>
					</div>
				</div>
				<div class="col-4">
					<!-- Third genre -->
					<div class="input-group mb-5">
						<label class="input-group-text" for="inputGroupSelect01">หมวดหมู่ 3</label>
						<select class="form-select" id="inputGroupSelect01" name="genre3">
							<option value="none" selected">เลือก...</option>
							<option value="EDM">อีดีเอ็ม (EDM)</option>
							<option value="Rap">แร๊ป (Rap)</option>
							<option value="Rock">ร็อก (Rock)</option>
							<option value="Pop">ป๊อป (Pop)</option>
							<option value="R&B">ริทึมแอนด์บลูส์ (R&B)</option>
							<option value="Latin">ลาติน (Latin)</option>
						</select>
					</div>
				</div>
			</div>

			<!-- Upload Song lang. -->
			<div class="" style="width: 50%;">
				<div class="input-group mb-5">
					<label class="input-group-text" for="inputGroupSelect01">ภาษา</label>
					<select class="form-select" id="inputGroupSelect01" name="language">
						<option value="none" selected">เลือก...</option>
						<option value="AF">Afrikaans</option>
						<option value="SQ">Albanian</option>
						<option value="AR">Arabic</option>
						<option value="HY">Armenian</option>
						<option value="EU">Basque</option>
						<option value="BN">Bengali</option>
						<option value="BG">Bulgarian</option>
						<option value="CA">Catalan</option>
						<option value="KM">Cambodian</option>
						<option value="ZH">Chinese (Mandarin)</option>
						<option value="HR">Croatian</option>
						<option value="CS">Czech</option>
						<option value="DA">Danish</option>
						<option value="NL">Dutch</option>
						<option value="EN">English</option>
						<option value="ET">Estonian</option>
						<option value="FJ">Fiji</option>
						<option value="FI">Finnish</option>
						<option value="FR">French</option>
						<option value="KA">Georgian</option>
						<option value="DE">German</option>
						<option value="EL">Greek</option>
						<option value="GU">Gujarati</option>
						<option value="HE">Hebrew</option>
						<option value="HI">Hindi</option>
						<option value="HU">Hungarian</option>
						<option value="IS">Icelandic</option>
						<option value="ID">Indonesian</option>
						<option value="GA">Irish</option>
						<option value="IT">Italian</option>
						<option value="JA">Japanese</option>
						<option value="JW">Javanese</option>
						<option value="KO">Korean</option>
						<option value="LA">Latin</option>
						<option value="LV">Latvian</option>
						<option value="LT">Lithuanian</option>
						<option value="MK">Macedonian</option>
						<option value="MS">Malay</option>
						<option value="ML">Malayalam</option>
						<option value="MT">Maltese</option>
						<option value="MI">Maori</option>
						<option value="MR">Marathi</option>
						<option value="MN">Mongolian</option>
						<option value="NE">Nepali</option>
						<option value="NO">Norwegian</option>
						<option value="FA">Persian</option>
						<option value="PL">Polish</option>
						<option value="PT">Portuguese</option>
						<option value="PA">Punjabi</option>
						<option value="QU">Quechua</option>
						<option value="RO">Romanian</option>
						<option value="RU">Russian</option>
						<option value="SM">Samoan</option>
						<option value="SR">Serbian</option>
						<option value="SK">Slovak</option>
						<option value="SL">Slovenian</option>
						<option value="ES">Spanish</option>
						<option value="SW">Swahili</option>
						<option value="SV">Swedish </option>
						<option value="TA">Tamil</option>
						<option value="TT">Tatar</option>
						<option value="TE">Telugu</option>
						<option value="TH">Thai</option>
						<option value="BO">Tibetan</option>
						<option value="TO">Tonga</option>
						<option value="TR">Turkish</option>
						<option value="UK">Ukrainian</option>
						<option value="UR">Urdu</option>
						<option value="UZ">Uzbek</option>
						<option value="VI">Vietnamese</option>
						<option value="CY">Welsh</option>
						<option value="XH">Xhosa</option>
					</select>
				</div>
			</div>

			<hr class="mb-5">

			<!-- Upload Song quality -->
			<div class="row mb-5">
				<!-- Normal quality -->
				<div class="col-6">
					<div class="input-group mb-3">
						<input type="file" class="form-control" id="inputGroupFile01" name="normalURL">
						<label class="input-group-text" for="inputGroupFile01">คุณภาพเสียงแบบปกติ</label>
					</div>
				</div>
				<!-- Good qulity -->
				<div class="col-6">
					<div class="input-group mb-3">
						<input type="file" class="form-control" id="inputGroupFile01" name="goodURL">
						<label class="input-group-text" for="inputGroupFile01">คุณภาพเสียงแบบพิเศษ</label>
					</div>
				</div>
			</div>

			<!-- Upload Song description & lyrics -->
			<div class="row mb-5">
				<!-- description -->
				<div class="col-6">
					<label for="exampleFormControlTextarea1" class="form-label">คำอธิบายเพิ่มเติม</label>
					<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
				</div>
				<!-- lyrics -->
				<div class="col-6">
					<label for="exampleFormControlTextarea1" class="form-label">เนื้อเพลง</label>
					<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="lyrics"></textarea>
				</div>
			</div>

			<input type="submit" value="อัพโหลด" class="btn btn-primary">
		</form>
	</div>
</body>

</html>