{% extends 'layout_sideBarforAdmin.html' %}

{% block title %}
    adminprofile
{% endblock%}

{% block navbar %}
    <a class="dropdown-item" href="#">Profile</a>
{% endblock %}

{% block sidebar %}
    <a href="#"><span>Profile</span></a>
    <a href="#"><span>Music Library</span></a>
    <a href="#"><span>Artists</span></a>
    <a href="#"><span>Entertainment</span></a>
    <br><br><br><br>
    <a href="#"><span>Manage</span></a>
    <a href="#"><span>History</span></a>
{% endblock %}

{% block content %}
    
{% endblock %}