{% extends 'layout_sideBarforAdmin.html' %}

{% block title %}
    history
{% endblock%}

{% block navbar %}
    <a class="dropdown-item" href="#">Profile</a>
{% endblock %}

{% block sidebar %}
    <a href="#"><span>Profile</span></a>
    <a href="#"><span>Music Library</span></a>
    <a href="#"><span>Artists</span></a>
    <a href="#"><span>Entertainment</span></a>
    <br><br><br><br>
    <a href="#"><span>Manage</span></a>
    <a href="#"><span>History</span></a>
{% endblock %}

{% block content %}
<h2 class="text-center fw-normal">History</h2>
    <input type="search" id="form1" style="margin-top: 30px" class="form-control" placeholder="Search"/>    
    <table class="table table-striped mt-3" style="width:100%">
                    <thead>
                        <tr style="height:40px">
                            <th scope="col" style="font-weight:normal;">Date</th>
                            <th scope="col" style="font-weight:normal;">Manage</th>
                            <th scope="col" style="font-weight:normal;">Action</th>
                            <th scope="col" style="font-weight:normal;">Reaction</th>
                            <th scope="col" style="font-weight:normal;">Relation</th>
                        </tr>
                    </thead>
                    <tbody style="font-weight:lighter;">
                        <tr>
                            <td>2021/06/01</td>
                            <td>User</td>
                            <td>Modify</td>
                            <td>Modify user profile</td>
                            <td>user</td>
                        </tr>
                        <tr>
                            <td>2021/06/01</td>
                            <td>Entertainment</td>
                            <td>Add</td>
                            <td>Add song</td>
                            <td>Entertainment</td>
                        </tr>
                        <tr>
                            <td>2021/05/31</td>
                            <td>Entertainment</td>
                            <td>Add</td>
                            <td>Add song</td>
                            <td>Entertainment</td>
                        </tr>
                        <tr>
                            <td>2021/05/31</td>
                            <td>User</td>
                            <td>Modify</td>
                            <td>Modify user profile</td>
                            <td>user</td>
                        </tr>
                        <tr>
                            <td>2021/05/29</td>
                            <td>User</td>
                            <td>Modify</td>
                            <td>Modify user profile</td>
                            <td>user</td>
                            <tr>
                            <td>2021/05/28</td>
                            <td>User</td>
                            <td>Modify</td>
                            <td>Modify user profile</td>
                            <td>user</td>
                        </tr>
                        </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link text-dark" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                        <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                        <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                        <li class="page-item"><a class="page-link text-dark" href="#">Next</a></li>
                    </ul>
                </nav>
                </div>
                <div class="col"></div>
            </div>
        </div>
{% endblock %}