{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /> {% endcomment %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <title>Document</title>
</head>
<body>     
    <div class="text-center mt-2">
        <img id="logo" src="{% static 'images/logo.png' %}" width="174.25px">
    </div>
   <hr>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-4">
                <p class="text-center h4 fw-normal mb-3">Login with</p>
                <div class="d-grid gap-3">
                    <a href="#" class="btn btn-default btn-primary fw-light facebook "><i style="margin-right: 10px" class="fa fa-facebook-square"></i><span>Continue with Facebook</span></a> 
                    <a href="#" class="btn btn-default btn-danger fw-light google "><i style="margin-right: 10px" class="fa fa-google-plus-official"></i><span>Continue with google</span></a> 
                    <a href="#"  class="btn btn-default btn-info  fw-light text-light" ><i style="margin-right: 10px" class="fa fa-phone-square"></i><span>Continue with phone number</span></a> 
                </div>
                <br>
                <hr>
                <form role="form">
                    <div class="form-group">
                        <label for="inputUsernameEmail">Username</label>
                        <input type="text" class="form-control" id="inputUsernameEmail">
                    </div>
                    <div class="form-group mt-1">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword">
                        <a class="pull-left fw-light mt-1 text-dark" href="#">Forgot password?</a>
                    </div>
                    <button type="submit" class="btn pull-right btn-primary fw-light mt-4">
                        Log In
                    </button>
                    
                </form>
                <br><br><br>
                <hr>
            </div>    
            <div class="col"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <form role="form">
                <p class="text-center fw-normal">Don't have an account?</p>
                <div class="text-center">
                    <button type="submit" class="btn btn-pull-center fw-light btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>