{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /> {% endcomment %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <title>Document</title>
</head>
    <body>
    <div class="text-center mt-4">
        <img id="logo" src="{% static 'images/logo.png' %}" width="250px">
    </div>
    <hr>
    <div class="container sign up with">
        <div class="row">
            <div class="col"></div>
            <div class="col-4">
                <p class="text-center fw-normal mb-2 mt-2">Continue sign up with</p>
                <div class="d-grid gap-3">
                    <a href="#" class="btn btn-default btn-primary fw-light facebook "><i style="margin-right: 10px" class="fa fa-facebook-square"></i><span>Continue with Facebook</span></a> 
                    <a href="#" class="btn btn-default btn-danger fw-light google "><i style="margin-right: 10px" class="fa fa-google-plus-official"></i><span>Continue with google</span></a> 
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="container sing up">
        <div class="row">
            <div class="col"></div>
            <div class="col-4">
            <hr>
                <form role="form">
                    <div class="form-floating mt-1">
                        <input type="text" class="form-control" id="floatingEmail" placeholder="Email" required>
                        <label for="floatingEmail">Email</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="text" class="form-control" id="floatingUsername" placeholder="Username" required>
                        <label for="floatingUsername">Username</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="password" class="form-control" id="floatingComfirmPassword" placeholder="Comfirm Password" required>
                        <label for="floatingComfirmPassword">Comfirm Password</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="text" class="form-control" id="floatingFirstname" placeholder="Firstname" required>
                        <label for="floatingFirstname">Firstname</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="text" class="form-control" id="floatingLastname" placeholder="Lastname" required>
                        <label for="floatingLastname">Lastname</label>
                    </div>
                    <label class="mt-3 mb-1" for="inputGender">Gender</label>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioMale" value="option1" required>
                        <label class="form-check-label" for="inlineRadioMale">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioFemale" value="option2" required>
                        <label class="form-check-label" for="inlineRadioFemale">Female</label>
                    </div><div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioNonbinary" value="option2" required>
                        <label class="form-check-label" for="inlineRadioNonbinary">Non-binary</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="date" class="form-control" id="floatingDOB" placeholder="Date of Birth" required>
                        <label for="floatingDOB">Date of Birth</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="text" class="form-control" id="floatingTel" placeholder="Telephone number" required>
                        <label for="floatingTel">Telephone number</label>
                    </div>
                    <i style="margin-right: 10px" class="fa fa-plus-circle mt-3"></i><a class="fw-light text-dark" href="#">Add card</a>
                    <br>
                    <button type="submit" class="btn pull-right btn-primary fw-light mt-4">
                            Sign up
                    </button>
                    <br><br><br>
                    <hr>
                    <div class="row "><small class="font-weight-bold">Have an account? <a class="text-danger " href="#">Log in</a></small> </div>
                </form>
                <br><br>
            </div>
            <div class="col"></div>
        </div>
    </div>
    </body>
</html>