{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/song3.css' %}">
    <title>Sporetify</title>
</head>
    <body>
        <!-- navbar start -->
        <nav class="navbar navbar-expand-md navbar-dark nav-bg">
            <div class="container" style="height: 100%;">
                <a class="navbar-brand" href="/song" style="height: 64px; padding: 10px 0 10px 25px;">
                    <img src="{% static 'images/logo.png' %}" alt="" height="100%">
                </a>
                <!-- button small display -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span> 
                </button>
                <!-- end button -->
                <div class="collapse navbar-collapse justify-content-end d-flex" id="navbarSupportedContent">
                    <ul class="navbar-nav text-end">
                        <li class="nav-item">
                            <a class="nav-link fs-5 menu" href="/song">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-5 menu ms-3" href="#">Package</a>
                        </li>
                        <li class="nav-item d-md-flex ms-4 d-none">
                            <span class="fw-light fs-4 align-self-center" style="color: white;">|</span>
                        </li>
                    </ul>
                    <ul class="navbar-nav text-end fs-5 ms-4">
                        <li class="nav-item dropdown drop">
                            <div class="d-flex">
                                <a class="nav-link dropdown-toggle menu" href="#" id="navbarDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="d-inline profile-show">
                                        <img src="{{ user.customer.profileImage.url }}" width="40" height="40" class="rounded-circle">
                                    </div>
                                    <span>{{ user.username }}</span>
                                </a>

                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark"
                                    aria-labelledby="navbarDropdownMenuLink">
                                    <!-- set class="disabled in current page" -->
                                    <a class="dropdown-item disabled" href="/userprofile">Account</a>
                                    <a class="dropdown-item" href="/userprofile/edit">Edit profile</a>
                                    <a class="dropdown-item" href="/userprofile/songHistory">History</a>
                                    <a class="dropdown-item" href="/userprofile/package">Package</a>
                                    <a class="dropdown-item" href="/userprofile/family">Family</a>
                                    <a class="dropdown-item" href="/userprofile/transaction">Transaction</a>
                                    <a class="dropdown-item" href="/">Log Out</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>


        <div class="container mt-5 song">
            <div class="">
                <h2 class="header">New release</h2>
                <hr>
                <div class="row">
                    {% for song in songs %}
                    <div class="col-3 d-flex justify-content-center align-items-center">
                        <div class="card-container">
                            <a href="{% url 'playSong' song.songID %}">
                                <div class="song-cover-container">
                                    <img src="{{song.songImg.url}}">
                                </div>
                            </a>
                            <p class="song-name">{{song.songName}}</p>
                            <p class="song-artist">{{song.artistID.artistName}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- EDM genre -->
            <div class="mt-5">
                <h2 class="header">EDM</h2>
                <hr>
                <div class="row">
                    {% for song in songs %}
                        {% if song.genre1 == 'EDM' or song.genre2 == 'EDM' %}
                        <div class="col-3 d-flex justify-content-center align-items-center">
                            <div class="card-container">
                                <a href="{% url 'playSong' song.songID %}">
                                    <div class="song-cover-container">
                                        <img src="{{song.songImg.url}}">
                                    </div>
                                </a>
                                <p class="song-name">{{song.songName}}</p>
                                <p class="song-artist">{{song.artistID.artistName}}</p>
                            </div>
                        </div>  
                        {% endif %}
                    {% endfor %}
                </div>
            </div>


            <!-- Rap genre -->
            <div class="mt-5">
                <h2 class="header">Rap</h2>
                <hr>
                <div class="row">
                    {% for song in songs %}
                        {% if song.genre1 == 'Rap' or song.genre2 == 'Rap' %}
                        <div class="col-3 d-flex justify-content-center align-items-center">
                            <div class="card-container">
                                <a href="{% url 'playSong' song.songID %}">
                                    <div class="song-cover-container">
                                        <img src="{{song.songImg.url}}">
                                    </div>
                                </a>
                                <p class="song-name">{{song.songName}}</p>
                                <p class="song-artist">{{song.artistID.artistName}}</p>
                            </div>
                        </div>  
                        {% endif %}
                    {% endfor %}
                </div>
            </div>


            <!-- Rap genre -->
            <div class="mt-5">
                <h2 class="header">Rock</h2>
                <hr>
                <div class="row">
                    {% for song in songs %}
                        {% if song.genre1 == 'Rock' or song.genre2 == 'Rock' %}
                        <div class="col-3 d-flex justify-content-center align-items-center">
                            <div class="card-container">
                                <a href="{% url 'playSong' song.songID %}">
                                    <div class="song-cover-container">
                                        <img src="{{song.songImg.url}}">
                                    </div>
                                </a>
                                <p class="song-name">{{song.songName}}</p>
                                <p class="song-artist">{{song.artistID.artistName}}</p>
                            </div>
                        </div>  
                        {% endif %}
                    {% endfor %}
                </div>
            </div>


            <!-- Pop genre -->
            <div class="mt-5">
                <h2 class="header">Pop</h2>
                <hr>
                <div class="row">
                    {% for song in songs %}
                        {% if song.genre1 == 'Pop' or song.genre2 == 'Pop' %}
                        <div class="col-3 d-flex justify-content-center align-items-center">
                            <div class="card-container">
                                <a href="{% url 'playSong' song.songID %}">
                                    <div class="song-cover-container">
                                        <img src="{{song.songImg.url}}">
                                    </div>
                                </a>
                                <p class="song-name">{{song.songName}}</p>
                                <p class="song-artist">{{song.artistID.artistName}}</p>
                            </div>
                        </div>  
                        {% endif %}
                    {% endfor %}
                </div>
            </div>


            <!-- Pop genre -->
            <div class="mt-5">
                <h2 class="header">R&B</h2>
                <hr>
                <div class="row">
                    {% for song in songs %}
                        {% if song.genre1 == 'R&B' or song.genre2 == 'R&B' %}
                        <div class="col-3 d-flex justify-content-center align-items-center">
                            <div class="card-container">
                                <a href="{% url 'playSong' song.songID %}">
                                    <div class="song-cover-container">
                                        <img src="{{song.songImg.url}}">
                                    </div>
                                </a>
                                <p class="song-name">{{song.songName}}</p>
                                <p class="song-artist">{{song.artistID.artistName}}</p>
                            </div>
                        </div>  
                        {% endif %}
                    {% endfor %}
                </div>
            </div>


             <!-- Latin genre -->
            <div class="mt-5">
                <h2 class="header">Latin</h2>
                <hr>
                <div class="row">
                    {% for song in songs %}
                        {% if song.genre1 == 'Latin' or song.genre2 == 'Latin' %}
                        <div class="col-3 d-flex justify-content-center align-items-center">
                            <div class="card-container">
                                <a href="{% url 'playSong' song.songID %}">
                                    <div class="song-cover-container">
                                        <img src="{{song.songImg.url}}">
                                    </div>
                                </a>
                                <p class="song-name">{{song.songName}}</p>
                                <p class="song-artist">{{song.artistID.artistName}}</p>
                            </div>
                        </div>  
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        

        <!-- Song div  -->
        </div>
    </body>
</html>