<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{result.songID}}</h1>
    <h1>{{result.songName}}</h1>
    <img src="{{result.songImg.url}}" alt="">
    <img src="{{result.normalURL.url}}" alt="">
    <img src="{{result.goodURL.url}}" alt="">
    <h1>{{result.genre1}}</h1>
    <h1>{{result.genre2}}</h1>
    <h1>{{result.genre3}}</h1>
    <h1>{{result.album}}</h1>
    <h1>{{result.lyrics}}</h1>
    <h1>{{result.description}}</h1>
    <h1>{{result.language}}</h1>
    <h1>{{result.artistID}}</h1>
</body>
</html>