{% extends 'layout_sideBar.html' %}

{% block title %}
    user_profile
{% endblock%}

{% block navbar %}
    <a class="dropdown-item" href="#">Profile</a>
    <a class="dropdown-item" href="#">Credit card</a>
    <a class="dropdown-item" href="#">Transaction</a>
{% endblock %}

{% block sidebar %}
    <a href="#"><span>ภาพรวมโปรไฟล์</span></a>
    <a href="#"><span>บัตรเครดิต</span></a>
    <a href="#"><span>ประวัติการชำระเงิน</span></a>
{% endblock %}

{% block content %}
    <p>เนื้อหาใส่ตรงนี้นะครับ</p>
{% endblock %}