{% extends 'layout_sideBar.html' %}
{% load static %}

{% block header %}
<title>package & family</title>
<link rel="stylesheet" href="{% static 'css/userProfile_family.css' %}">
<script src="https://kit.fontawesome.com/e073b44707.js" crossorigin="anonymous"></script>
{% endblock%}

{% block profile_nav %}
<div class="d-inline profile-show">
    <img src="{% static 'images/Gust.jpg'%}" width="40" height="40" class="rounded-circle">
</div>
Gustboyy
{% endblock %}

{% block navbar %}
<a class="dropdown-item" href="/userprofile">Account</a>
<a class="dropdown-item" href="/userprofile/edit">Edit profile</a>
<a class="dropdown-item" href="/userprofile/package">Package</a>
<a class="dropdown-item disabled" href="/userprofile/family">Family</a>
<a class="dropdown-item" href="/userprofile/transaction">Transaction</a>
<a class="dropdown-item" href="/">Log Out</a>
{% endblock %}

{% block sidebar %}
<a href="/userprofile"><span>Account overview</span></a>
<a href="/userprofile/edit"><span>Edit profile</span></a>
<a href="/userprofile/package"><span>Package</span></a>
<a href="/userprofile/family" class="side-active"><span>Family</span></a>
<a href="/userprofile/transaction"><span>Transaction</span></a>
{% endblock %}

{% block content %}
<!-- Start Form -->
<div class="text-center">
    <h1>Family</h1>
    <hr style="width: 83.33%; margin-left: 8.33%;">
</div>

<!-- Family member -->
<div class="col-10 offset-1">
    <!-- Package in use -->
    <form method="POST">
        {% csrf_token %}
        <div class="col-10 offset-1">
            <table class="table profile">
                <tbody>
                    <thead>
                        <tr>
                            <th scope="col">User ID</th>
                            <th scope="col">Username</th>
                            <th scope="col">Firstname</th>
                            <th scope="col">Lastname</th>
                            <th scope="col">email</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <span>
                                <label>
                                    <input type="radio" name="manager" value="{{managerUser.customerID}}" checked>
                                    <i class="fas fa-crown" style="margin-right: 5px;"></i>
                                </label>

                                {{manager.customerID}}
                            </span>
                        </td>
                        <td class="text-secondary">{{managerUser.username}}</td>
                        <td class="text-secondary">{{manager.firstName}}</td>
                        <td class="text-secondary">{{manager.lastName}}</td>
                        <td class="text-secondary">{{managerUser.email}}</td>
                    </tr>
                    {% for child, childUser in childs %}
                    <tr>
                        <td>
                            <span>
                                <label>
                                    <input type="radio" name="manager" value="{{child.customerID}}">
                                    <i class="fas fa-crown" style="margin-right: 5px;"></i>
                                </label>

                                {{child.customerID}}
                            </span>
                        </td>
                        <td class="text-secondary">{{childUser.username}}</td>
                        <td class="text-secondary">{{child.firstName}}</td>
                        <td class="text-secondary">{{child.lastName}}</td>
                        <td class="text-secondary">{{childUser.email}}</td>
                    </tr>


                    {% endfor %}
                    {% for i in empty_list %}
                    <tr>
                        <td>
                            <span>
                                <label>
                                    <i class="fas fa-crown" style="margin-right: 5px; opacity: 0.2;"></i>
                                </label>

                                -
                            </span>
                        </td>
                        <td class="text-secondary">-</td>
                        <td class="text-secondary">-</td>
                        <td class="text-secondary">-</td>
                        <td class="text-secondary">-</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col-6 mb-2">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Delete member</span>
                        <span class="input-group-text">#</span>
                        <select class="form-select" id="delMember" name="delMember">
                            <option selected disabled>Choose...</option>
                            {% for child, childUser in delete %}
                                <option value="{{child.customerID}}">{{child.customerID}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-6 mb-2">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Add member</span>
                        <span class="input-group-text">#</span>
                        <input type="text" placeholder="e.g. U1234567" class="form-control" name="addMember">
                    </div>
                </div>
            </div>
        </div>
        <div class="row save-button">
            <div class="col-10 offset-1 text-end">
                <a class="btn btn-light me-2" href="/userprofile/family" role="button">  Cancel  </a>
                <input type="submit" value="  Submit  " class="btn btn-primary">
            </div>
        </div>
        <br>
        <!-- # HIDDEN FORM # -->
        <input type="text" class="d-none" name="packageID" value="{{package.packageID}}">
        <input type="text" class="d-none" name="familyID" value="{{family.familyID}}">
    </form>
</div>
{% endblock %}