{% extends 'layout_sideBar.html' %}
{% load static %}

{% block header %}
<title>user profile</title>
<link rel="stylesheet" href="{% static 'css/userProfile2.css' %}">
<script src="https://kit.fontawesome.com/e073b44707.js" crossorigin="anonymous"></script>
{% endblock%}

{% block profile_nav %}
<div class="d-inline profile-show">
    <img src="{{ customer.profileImage.url }}" width="40" height="40" class="rounded-circle">
</div>
{{ user.username }}
{% endblock %}

{% block navbar %}
<!-- set class="disabled in current page" -->
<a class="dropdown-item disabled" href="/userprofile">Account</a>
<a class="dropdown-item" href="/userprofile/edit">Edit profile</a>
<a class="dropdown-item" href="/userprofile/songHistory">History</a>
<a class="dropdown-item" href="/userprofile/package">Package</a>
<a class="dropdown-item" href="/userprofile/family">Family</a>
<a class="dropdown-item" href="/userprofile/transaction">Transaction</a>
<a class="dropdown-item" href="/">Log Out</a>
{% endblock %}

{% block sidebar %}
<!-- set class="side-active in current page" -->
<a href="#" class="side-active"><span>Account overview</span></a>
<a href="edit"><span>Edit profile</span></a>
<a href="/userprofile/songHistory"><span>History</span></a>
<a href="/userprofile/package"><span>Package</span></a>
<a href="/userprofile/family"><span>Family</span></a>
<a href="transaction"><span>Transaction</span></a>
{% endblock %}

{% block content %}
<!-- Start Form -->
<div class="text-center">
    <h1>Account overview</h1>
    <hr style="width: 83.33%; margin-left: 8.33%;">
</div>

<!-- pic and ID -->
<div class="row">
    <div class="col-10 offset-1 d-flex">
        <div class="col-6 align-self-center">
            <div class="col-10 offset-1">
                <!-- Image show -->
                <div class="d-flex justify-content-center">
                    <div class="profile-container">
                        <img src="{{ customer.profileImage.url }}" alt="" class="">
                    </div>
                </div>
                <!-- username and ID -->
                <div class="d-flex justify-content-center text-center">
                    <div class="align-self-end">
                        <h2 class="username">{{ user.username }}</h2>
                        <h5 class="userID">#{{ customer.customerID }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="col-xl-11 col-sm-12">
                <div class="text-start">
                    <span class="d-flex justify-content-between topic">
                        <h3>Profile</h3>
                        <a href="edit"><i class="fa fa-edit"></i></a>
                    </span>

                    <table class="table profile">
                        <tbody>
                            <tr>
                                <td class="col-5 key">Username</td>
                                <td class="text-secondary">{{ user.username }}</td>
                            </tr>
                            <tr>
                                <td class="col-5 key">User ID</td>
                                <td class="text-secondary">#{{ customer.customerID}}</td>
                            </tr>
                            <tr>
                                <td class="col-5 key">Email</td>
                                <td class="text-secondary">{{ user.email }}</td>
                            </tr>
                            <tr>
                                <td class="col-5 key">Firstname</td>
                                <td class="text-secondary">{{ customer.firstName }}</td>
                            </tr>
                            <tr>
                                <td class="col-5 key">Lastname</td>
                                <td class="text-secondary">{{ customer.lastName }}</td>
                            </tr>
                            <tr>
                                <td class="col-5 key">Gender</td>
                                <td class="text-secondary">{{ gender }}</td>
                            </tr>
                            <tr>
                                <td class="col-5 key">Age</td>
                                <td class="text-secondary">{{ age }}</td>
                            </tr>
                            <tr>
                                <td class="col-5 key">Date of Birth</td>
                                <td class="text-secondary">{{ customer.dob }}</td>
                            </tr>
                            <tr>
                                <td class="col-5 key">Telephone</td>
                                <td class="text-secondary">{{ phone }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<!-- card and Package -->
<div class="row">
    <div class="col-10 offset-1">
        <div class="row">
            <div class="col-6">
                <div class="col-10 offset-1">
                    <div class="row mb-3">
                        <span class="d-flex justify-content-between topic">
                            <h3>My Family</h3>
                            <a href="family"><i class="fa fa-edit"></i></a>
                        </span>
                        <table class="table profile">
                            <tbody>
                                <tr>
                                    <td class="col-5 key">{{manager.customerID}} <i class="fas fa-crown" style="margin-left: 5px;"></i></td>
                                    <td class="text-secondary">{{managerUser.username}}</td>
                                </tr>
                                {% for child, childUser in childs%}
                                <tr>
                                    <td class="col-5 key">{{child.customerID}}</td>
                                    <td class="text-secondary">{{childUser.username}}</td>
                                </tr>
                                {% endfor %}
                                {% for i in empty_list %}
                                <tr>
                                    <td class="col-5 key">-</td>
                                    <td class="text-secondary">-</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row mb-3">
                        <span class="d-flex justify-content-between topic align-self-end">
                            <h3>My Card</h3>
                            <a href="transaction"><i class="fa fa-edit"></i></a>
                        </span>
                        <table class="table class">
                            <thead>
                                <tr>
                                    <th scope="col">Card number</th>
                                    <th scope="col">Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col key">-</td>
                                    <td class="col text-secondary">-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>

            </div>
            <div class="col-6">
                <div class="col-11">
                    <span class="d-flex justify-content-between topic">
                        <h3>My Package</h3>
                        <a href="package"><i class="fa fa-edit"></i></a>
                    </span>
                    <div class="card">
                        <img src="http://127.0.0.1:8000/media/uploads/img/{{package.packageID}}.jpg"
                            class="package-pic" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{package.packageID}} {{package.packageName}}</h5>
                            <p class="card-text">HI! you're got the package now. Thanks for support, Enjoy your music!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
{% endblock %}