{% extends 'layout_sideBar.html' %}
{% load static %}

{% block header %}
<title>package & family</title>
<link rel="stylesheet" href="{% static 'css/userProfile_package2.css' %}">
<script src="{% static 'js/package_toggle.js' %}"></script>
<script src="https://kit.fontawesome.com/e073b44707.js" crossorigin="anonymous"></script>
{% endblock%}

{% block profile_nav %}
<div class="d-inline profile-show">
    <img src="{{ customer.profileImage.url }}" width="40" height="40" class="rounded-circle">
</div>
{{ user.username }}
{% endblock %}

{% block navbar %}
<a class="dropdown-item" href="/userprofile">Account</a>
<a class="dropdown-item" href="/userprofile/edit">Edit profile</a>
<a class="dropdown-item disabled" href="/userprofile/package">Package</a>
<a class="dropdown-item" href="/userprofile/family">Family</a>
<a class="dropdown-item" href="/userprofile/transaction">Transaction</a>
<a class="dropdown-item" href="/">Log Out</a>
{% endblock %}

{% block sidebar %}
<a href="/userprofile"><span>Account overview</span></a>
<a href="/userprofile/edit"><span>Edit profile</span></a>
<a href="/userprofile/songHistory"><span>History</span></a>
<a href="/userprofile/package" class="side-active"><span>Package</span></a>
<a href="/userprofile/family"><span>Family</span></a>
<a href="/userprofile/transaction"><span>Transaction</span></a>
{% endblock %}

{% block content %}
<!-- Start Form -->
<div class="text-center">
    <h1>Package</h1>
    <hr style="width: 83.33%; margin-left: 8.33%;">
</div>

<!-- In use package -->
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-4 offset-1 justify-content-end">
            <div class="card inUse">
                <img src="http://127.0.0.1:8000/media/uploads/img/{{package.packageID}}.jpg"
                    class="package-pic" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ package.packageID }} {{ package.packageName }}</h5>
                </div>
            </div>
        </div>
        <div class="col-5 offset-1 align-self-center">
            <div class="row">
                <h2>In use package</h2>
                <div class="col-11 offset-1">
                    <table class="table profile">
                        <tbody>
                            <tr>
                                <td class="col-5 key">Package</td>
                                <td class="text-secondary">{{ package.packageName }}</td>
                            </tr>
                            <tr>
                                <td class="col-5 key">Price</td>
                                <td class="text-secondary">{{ package.packagePrice }}</td>
                            </tr>
                            <tr>
                                <td class="col-5 key">Due date</td>
                                <td class="text-secondary">{{ duration }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <h2>Family member</h2>
                <div class="col-11 offset-1">
                    <table class="table profile">
                        <tbody>
                            <tr>
                                <td class="col-5 key">{{manager.customerID}} <i class="fas fa-crown" style="margin-left: 5px;"></i></td>
                                <td class="text-secondary">{{managerUser.username}}</td>
                            </tr>
                            {% for child, childUser in childs%}
                            <tr>
                                <td class="col-5 key">{{child.customerID}}</td>
                                <td class="text-secondary">{{childUser.username}}</td>
                            </tr>
                            {% endfor %}
                            {% for i in empty_list %}
                            <tr>
                                <td class="col-5 key">-</td>
                                <td class="text-secondary">-</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<!-- package change -->
<div class="col-9">
    <div class="col-10 offset-1">
        <h2 style="padding-left: -10px;">Change package</h2>
    </div>
</div>
<form method="POST">
    {% csrf_token %}
    <div class="col-10 offset-1">
        <!-- solo package -->
        <div>
            <h3>Solo package</h3>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <!-- create radio button -->
                <label class="h-100">
                    <input type="radio" name="packageID" value="PP01" id="PP01">
                    <div class="card h-100">
                        <img src="http://127.0.0.1:8000/media/uploads/img/PP01.jpg" class="card-img-top"
                            alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">PP01 ลำพังแต่ฟังเพลิน</h5>
                            <p class="card-text">
                                แพคเกจลำพังแต่ฟังเพลิน ราคา 199 บาทสามารถใช้ได้นานถึง 30 วันเหมาะผู้ใช้ใหม่ที่อยากลอง
                            </p>
                        </div>
                    </div>
                </label>
            </div>
            <div class="col">
                <!-- create radio button -->
                <label class="h-100">
                    <input type="radio" name="packageID" value="PP02" id="PP02">
                    <div class="card h-100">
                        <img src="http://127.0.0.1:8000/media/uploads/img/PP02.jpg" class="card-img-top"
                            alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">PP02 ลำพังจนฟังสองเดือน</h5>
                            <p class="card-text">
                                แพคเกจลำพังจนฟังสองเดือน ราคา 349 บาทสามารถใช้ได้นานถึง 60 วันเหมาะผู้ใช้ที่ฟังแล้วติดใจจนอยากต่อฟังอีก 2 เดือน 
                            </p>
                        </div>
                    </div>
                </label>
            </div>
            <div class="col">
                <!-- create radio button -->
                <label class="h-100">
                    <input type="radio" name="packageID" value="PP03" id="PP03">
                    <div class="card h-100">
                        <img src="http://127.0.0.1:8000/media/uploads/img/PP03.jpg" class="card-img-top"
                            alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">PP03 ก่อนจะพังลองฟังก่อน</h5>
                            <p class="card-text">
                                แพคเกจลำพังก็จะฟัง ราคา 69 บาทสามารถใช้ได้ 7 วันเหมาะผู้ใช้ที่อยากทดลองบริการของเรา!
                            </p>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <br>
        <!-- family package -->
        <div>
            <h3>Family package</h3>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <!-- create radio button -->
                <label class="h-100">
                    <input type="radio" name="packageID" value="PG01" id="PG01">
                    <div class="card h-100">
                        <img src="http://127.0.0.1:8000/media/uploads/img/PG01.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">PG01 สามสิบวันฉันและเกลอ</h5>
                            <p class="card-text">
                                แพคเกจสามสิบวันฉันและเกลอ ราคา 749 บาทสามารถใช้ได้นานถึง 30 วัน เหมาะผู้ใช้ใหม่ที่อยากลอง
                            </p>
                        </div>
                    </div>
                </label>
            </div>
            <div class="col">
                <!-- create radio button -->
                <label class="h-100">
                    <input type="radio" name="packageID" value="PG02" id="PG02">
                    <div class="card h-100">
                        <img src="http://127.0.0.1:8000/media/uploads/img/PG02.jpg" class="card-img-top"
                            alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">PG02 ฟังฉลองสองเดือน</h5>
                            <p class="card-text">
                                แพคเกจฟังฉลองสองเดือน ราคา 749 บาทสามารถใช้ได้นานถึง 60 วันเหมาะผู้ใช้ที่ฟังแล้วติดใจจนอยากต่อฟังอีก 2 เดือน
                            </p>
                        </div>
                    </div>
                </label>
            </div>
            <div class="col">
                <!-- create radio button -->
                <label class="h-100">
                    <input type="radio" name="packageID" value="PG03" id="PG03">
                    <div class="card h-100">
                        <img src="http://127.0.0.1:8000/media/uploads/img/PG03.jpg" class="card-img-top"
                            alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">PG03 กลุ่มนี้พี่ขอลอง</h5>
                            <p class="card-text">
                                แพคเกจกลุ่มนี้พี่ขอลอง ราคา 199 บาทสามารถใช้งาน 7 วันเหมาะผู้ใช้งานที่อยากทดลองเป็นหมู่คณะ!
                            </p>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <br>
        <!-- FREE package -->
        <div>
            <h3>FREE</h3>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <!-- create radio button -->
                <label class="h-100">
                    <input type="radio" name="packageID" value="PF00" id="PF00">
                    <div class="card h-100">
                        <img src="http://127.0.0.1:8000/media/uploads/img/PF00.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">PF00 ใช้บริการฟรี</h5>
                            <p class="card-text">
                                บริการฟรีไม่เสียเงิน สามารถฟังได้ทุกเพลงในระดับเสียงปกติ
                            </p>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>

    <div class="row save-button">
        <div class="col-10 offset-1 text-end">
            <!-- <input type="submit" value="  cancel  " class="btn btn-light"> -->
            <input type="submit" value="  save change  " class="btn btn-primary savebtn">
        </div>
    </div>
    <br>
    <!-- manager family # HIDE # -->
    <input type="text" value="{{ customer.customerID }}" name="manager" class = "d-none">
    <input type="text" value="F0000000" name="familyID" class = "d-none">
</form>

<script>
    current_package = document.getElementById("{{ customer.packageID_id }}");
    current_package.checked = true;
</script>
{% endblock %}