.enUsername {
    /* change color in 'menu class' (enNavbarTemp.css) */
    display: inline-block;
    margin-left: 10px;
}

.container-fluid {
    padding: 0 40px;
}

.content-box {
    background-color: #ffce73;
    padding: 20px;
    border-radius: 10px;
}

.content-box:nth-child(0){
    
}

.content-box {
    height: 100%;
}
.content-box .row {
    margin: 35px 0;
}
.content-box i {
    font-size: 5vw;
    color: #000;
}
.content-box .row .col-8 {
    border-left: 2px solid white;
    padding: 20px 0 20px 25px;
}
.content-box .row .col-8 span:first-child {
    font-size: 3vw;
    /* color: #0d6efd; */
    color: #0496FF;
}
.content-box .row .col-8 span:last-child {
    font-size: 1vw;
}