.profile-container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    overflow: hidden;
    position: relative;
    /* cursor: pointer; */
    /* border: 3px solid black; */
}

.profile-container-img > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.profile {
    font-size: 20px;
}